---
description: This page introduces how to use Essentials for KYC authentication
---

# Perform KYC verification

## Login with Elastos DID within KYC-me

* Enter the Essentials wallet homepage, find the menu "Discover dApps", and click to enter.
* Find the "KYC-me" application, and click to open it.

<figure><img src="../.gitbook/assets/截屏2023-08-22 18.18.34.png" alt=""><figcaption></figcaption></figure>

* Click the "Sign in" button in the upper right corner.
* After the page loads, click the "Sign in with Elastos DID" button.
* A jump to Essentials will occur - a pop-up request for DID authorization will appear - click the "Accept" button.

<figure><img src="../.gitbook/assets/截屏2023-08-22 18.20.09.png" alt=""><figcaption></figcaption></figure>

* Jump to KYC-me again, and click "My Dashboard" button.
* After the page jumps, click the "Verify now" button.
* After the page jumps, click the "Verify" button.

<figure><img src="../.gitbook/assets/截屏2023-08-22 18.24.34.png" alt=""><figcaption></figcaption></figure>

_**Note：**_

_`Chinese users can also use their second-generation ID card for authentication.`_

<figure><img src="../.gitbook/assets/截屏2023-08-22 18.25.33.png" alt=""><figcaption></figcaption></figure>

## KYC certification in Alibaba Cloud - **passport example**

* The page jumps to the Alibaba Cloud in-app authentication. After viewing the prompt information, click the "Start certification" button.

<figure><img src="../.gitbook/assets/截屏2023-08-22 18.26.45.png" alt="" width="284"><figcaption></figcaption></figure>

* Follow the tips to do KYC authentication.

&#x20;     _`1.The first step is to use the passport for authentication.`_

&#x20;     _`2.The second step is face recognition.`_

<figure><img src="../.gitbook/assets/截屏2023-08-22 18.28.21.png" alt=""><figcaption><p>Ensure you are clearly lit, with no shadows.</p></figcaption></figure>

* After the authentication is successful, jump to the KYC-me application.

<figure><img src="../.gitbook/assets/截屏2023-08-22 18.29.28.png" alt="" width="282"><figcaption></figcaption></figure>

